{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Granada</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/body.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/barra_izquierda.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/listar_tabla.css' %}">

</head>
<body>

    <nav class="nav">
        <ul class="list">
            <li class="list_item list_item--click">
                <div class="list_button">
                    <a href="{% url 'home' %}" class="nav_link">Inicio</a>
                </div>
            </li>
            
            <li class="list_item list_item--click">
                <div class="list_button">
                    <a href="{% url 'clientes' %}" class="nav_link">Cliente</a>
                </div>
            </li>

            <li class="list_item list_item--click">
                <div class="list_button">
                    <a href="{% url 'usuarios' %}" class="nav_link">Usuario</a>
                </div>
            </li>

            <li class="list_item list_item--click">
                <div class="list_button">
                    <a href="{% url 'restaurantes' %}" class="nav_link">Restaurantes</a>
                </div>
            </li>

            <li class="list_item list_item--click">
                <div class="list_button">
                    <a href="{% url 'pedidos' %}" class="nav_link">Pedido</a>
            </div>

            <li class="list_item list_item--click">
                <div class="list_button">
                    <a href="{% url 'empleados' %}" class="nav_link">Empleados</a>
            </div>

            <li class="list_item list_item--click">
                <div class="list_button">
                    <a href="{% url 'contabilidad' %}" class="nav_link">Contabilidad</a>
            </div>

            <li class="list_item list_item--app-name">
                <div class="list_button list_button--app-name">
                    <p class="app_name">Delivery Granada</p>
                </div>
            </li>


        </ul>
    </nav>
    
    <div class="content">

        <div class="input">
            <a href="{% url 'empleados' %}" class="additional-button">Listar Empleados</a>
        </div>

        <div class="worktimes">
            <h2>Lista de Worktimes</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Efficiency</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for worktime in worktimes %}
                    <tr>
                        <td>{{ worktime.id }}</td>
                        <td>{{ worktime.efficiency }}</td>
                        <td>{{ worktime.start_date|date:"Y-m-d H:i:s" }}</td>
                        <td>{{ worktime.end_date|date:"Y-m-d H:i:s" }}</td>
                        <!-- Agrega más celdas según sea necesario -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <hr>

        <div class="ratings">
            <h2>Lista de Ratings</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Rating</th>
                        <th>Comentario</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rating in ratings %}
                    <tr>
                        <td>{{ rating.id }}</td>
                        <td>{{ rating.rating }}</td>
                        <td>{{ rating.comentario }}</td>
                        <!-- Agrega más celdas según sea necesario -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    

       
    


</body>
</html>