{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pedido.id }} - {{ pedido.estado }}  </title>
</head>
<body>
        <!-- Barra de navegación -->
    
        <nav class="nav">
            <ul class="list">
                <li class="list_item list_item--click">
                    <div class="list_button">
                        <a href="{% url 'home' %}" class="nav_link">Inicio</a>
                    </div>
                </li>
    
                <li class="list_item list_item--click">
                    <div class="list_button">
                        <a href="{% url 'usuarios' %}" class="nav_link">Usuario</a>
                    </div>
                </li>
    
                <li class="list_item list_item--click">
                    <div class="list_button">
                        <a href="{% url 'restaurantes' %}" class="nav_link">Restaurantes</a>
                    </div>
                </li>
    
                <li class="list_item list_item--click">
                    <div class="list_button">
                        <a href="{% url 'pedidos' %}" class="nav_link">Pedido</a>
                </div>
    
                <li class="list_item list_item--click">
                    <div class="list_button">
                        <a href="{% url 'empleados' %}" class="nav_link">Empleados</a>
                </div>
    
                <li class="list_item list_item--click">
                    <div class="list_button">
                        <a href="{% url 'contabilidad' %}" class="nav_link">Contabilidad</a>
                </div>
    
                <li class="list_item list_item--app-name">
                    <div class="list_button list_button--app-name">
                        <p class="app_name">Delivery Granada</p>
                    </div>
                </li>
    
    
            </ul>
        </nav>

    <h1>{{ menu.nombre }}</h1>
    <p>{{ menu.descripcion }}</p>

    <h2>Productos en el Menú:</h2>
    <ul>
        {% for producto in productos %}
            <li>
                <strong>{{ producto.nombre }}</strong>
                <p>{{ producto.descripcion }}</p>
                <p>Precio: ${{ producto.precio }}</p>
            </li>
        {% endfor %}
    </ul>

</body>
</html>