<!-- cargo etiqueta static -->
{% load static %}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Granada</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/body.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <script src="{% static 'js/main.js' %}"></script>

    <!-- Añadir las funcionalidades necesarias -->
    <script src="{% static 'js/usuario.js' %}"></script>
</head>
<body>

    <!-- Barra de navegación -->
    
        <nav class="nav">
            <ul class="list">
                <li class="list_item list_item--click">
                    <div class="list_button">
                        <a href="{% url 'home' %}" class="nav_link">Inicio</a>
                    </div>
                </li>
                <li class="list_item list_item--click">
                    <div class="list_button">
                        <a href="{% url 'prueba' %}" class="nav_link">Prueba</a>
                    </div>
                </li>
                <!-- ...  -->
            </ul>
        </nav>
    
            
        <div class="content">

            <div class="input">
                <button class="additional-button" onclick="mostrarFormulario()">Crear Cliente</button>
            </div>
        
            <div class="output">
                <div class="terminal" id="terminal">
                </div>
            </div>
        
            <!-- En home.html -->
            <div id="formulario-crear-cliente" style="display: none;">
                <form method="post" action="{% url 'home' %}" id="cliente-form" onsubmit="return crearCliente()">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Guardar Cliente</button>
                </form>                
            </div>

    
    
        </div>


</body>
</html>


