
.titulo {
    text-align: left;
    margin: 175px 0 0 75px;
    color: #fff;
}

.content {
    margin-top: 175px;
    padding: 20px;
    display: flex;
    
}

.input {
    width: 50%;
    padding-right: 10px;
}

.output {
    width: 50%;
    padding-left: 10px;;
}

.additional-button {
    margin-bottom: 10px;
}

.terminal {
    border: 1px solid #000000;
    padding: 10px;
    height: 100px;
    overflow-y: auto;
}

html, body {
    height: 100%;
    overflow: hidden;
}



