@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&family=Poppins:wght@500&display=swap');

body {
    background-color: rgb(222, 211, 207);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.nav {
    background-color: #3498db;
}

.list {
    display: flex;
    justify-content: flex-end; 
    margin: 0;
    padding: 0;
    list-style: none;
}

.list_item {
    margin: 0;
    padding: 0;
}

.list_button {
    padding: 15px;
}

.nav_link {
    text-decoration: none;
    color: #fff; 
}


.list_item--app-name {
    margin-left: 20px; /
}

.list_button--app-name {
    padding: 10px;
    background-color: #2ecc71; 
}

.app_name {
    margin: 0;
    font-size: 18px;
    color: #fff; 
}
